= div_for(work) do
  %header
    .thumbnail
      = image_tag(image_path("works/#{work.primary_thumbnail_path.presence || 'placeholder.png'}"))
    .title
      = link_to(work.media_url || work, target: '_blank') do
        = work.title
    - if work.subtitle
      .subtitle
        = work.subtitle
    .attribution
      - if work.attribution.present?
        .name
          = work.attribution
      - if work.creation_date_string.present?
        .date
          = work.creation_date_string(month: :short)
