= div_for(work) do
  %header
    .title
      = link_to(work) do
        = work.title
    - if work.subtitle
      .subtitle
        = work.subtitle
    .attribution
      - if work.attribution.present?
        .name
          = work.attribution.downcase
      - if work.creation_date_string
        .date
          = work.creation_date_string
