- work ||= @work
= div_for(work) do
  %header
    .title
      = link_to(work) do
        = work.title
    - if work.subtitle
      .subtitle
        = work.subtitle
    .attribution
      - if work.attribution.present?
        .name
          = work.attribution
      - if work.creation_date_string
        .date
          = work.creation_date_string
  - if work.primary_image_path.present?
    - if work.primary_image_path =~ /\.pdf$/
      .big-thumbnail
        = link_to image_url("works/#{work.primary_image_path}"), target: "_blank" do
          = image_tag(image_path("works/#{work.primary_thumbnail_path.presence || 'placeholder.png'}"))
    - else
      .feature
        = image_tag(image_path("works/#{work.primary_image_path.presence}"))
  - if work.media_url.present?
    = link_to work.media_url, work.media_url, target: "_blank"
  - if work.embed_code.present?
    = h(work.embed_code.html_safe)
  - if work.materials.present?
    .materials
      %h3 Materials
      = work.materials
  - if work.process.present?
    .process
      %h3 Process
      = work.process
  - if work.artist_statement.present?
    .artist_statement
      %h3 Artist Statement
      = h(work.artist_statement.html_safe)
  - if work.text_content.present?
    .content
      = h work.text_content.gsub(/\n/, "<br>").html_safe
