%ul
  %li
    = link_to_unless_current("Home", "/")
  %li
    = link_to_unless_current("Portfolio", "/works")
  %li
    = link_to_unless_current("Program of Study", "/courses")
  %li
    = link_to_unless_current("Annotated Bibliography", "/annotations")
  %li
    = link_to_unless_current("Professional Resume", "/resume")
