!!!
%html
  %head
    %title Robert Emerson Head – Vitae
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ class: controller.controller_name }
    .spread
      %header.global
        %h1.name
          = link_to "/" do
            Robert Emerson Head
      .main.row
        .columns.medium-3.small-12
          %nav.global
            = render partial: 'layouts/global_nav'
        .columns.medium-9.small-12
          %article
            = yield
      %footer
        = render partial: 'layouts/footer'
